.container{
  align-content: center;
  margin-bottom: 50px;
  margin-left: 20rem;
}

.formulario {
  min-width: 700px;
  max-width: 500px;
  width: 100%;

}

.cursos {
  display: block;
  width: 100%;
  height: 100%;

}
