<mat-toolbar>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Rotas</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['/login']">Login</a>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['/cursos']" [queryParams]="{pagina: 1}">Cursos</a>
          </li>
          <!--<li routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['curso', idCurso.value]">Curso com id</a>
          </li>-->
          <li routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['/alunos']">Alunos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</mat-toolbar>
<div class="container">
  <mat-card class="card">
    <!--<mat-card-content class="content">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label> Entre com o id do curso </mat-label>
          <input matInput #idCurso>
        </mat-form-field>
      </form>
    </mat-card-content>-->
  </mat-card>
  <router-outlet></router-outlet>
</div>
