<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">Rotas</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li routerLinkActive="active">
          <a class="nav-link active" routerLink="/login">Login</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link active"  routerLink="/cursos">Cursos</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link active"  [routerLink]="['curso', idCurso.value]">Curso com id</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">

  <p>Entre com o id do curso</p>
  <input #idCurso>
  <router-outlet></router-outlet>
</div>



